<h2>Contacts {{#link "new" tag="button"}}New{{/link}}</h2>
{{#collection tag="ul"}}
	<li>
		{{#link "detail/{{id}}" expand-tokens=true }}<strong>{{firstname}} {{lastname}}   </strong>{{/link}}
		<a class="delete" href="#"> delete </a>
	</li>
{{/collection}}
