{{#collection}}
	<strong>{{firstname}} {{lastname}}   </strong><a href="#">delete</a>
	<ul>
		<li>Phone: {{phone}}</li>
		<li>Email: {{email}}</li>
	</ul>
{{/collection}}
<form>
	<p><Lable>First Name: <input name="firstname"></Lable></p>
	<p><Lable>Last Name:<input name="lastname"></Lable></p>
	<p><Lable>Email: <input name="email"></Lable></p>
	<p><Lable>Phone: <input name="phone"></Lable></p>
	<input type="submit" value="add">
</form>